.form-select{
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 1rem;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 8px;
}
